body {
  margin: 0;
  overflow: hidden;
  }

.dark {
  background-color: rgb(56, 56, 56);
  color: white;
  
}
  .list-group {
    border: 1px solid black;
    display: none;
    color: grey;
    position: absolute;
    right:20px;
    bottom:50px;
    background-color: white;
  }
  .list-boundary {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    padding:1px;
  }
  .list-group a{
    text-decoration: none;
    color: grey;
    padding:12px;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:220px;
  }
  
  .show {
    display: inline-block;
  }


.line {
  border: 1px solid black;
  width: 100%;
}

div {
  box-sizing : border-box; 
  }
#wrapper{
    height : 100%;
  }

.header {
  display: flex;
  justify-content: space-between;
  font-size:14px;
}
.header a{
  text-decoration: none;
  color:black;
}
.header a:hover{
  text-decoration: underline;
}
.header-left {
  display: flex;
  margin-left:15px;
  margin-top: 10px;
}
.header-left a {
  padding: 12px;
}
.header-right {
  margin-top:-5px;
  display: flex;
  font-size: 13px;
  margin-right:10px;
}
.header-right a {
  padding: 12px;
  margin-top:13px;
}
.header-right p {
  padding:13px;
}


.google-logo-img{
  margin-top:-33px;
  width:275px; 

  }



.search-bar {
  margin-top: 19px;
}

.search-bar input{
  width: 540px;
  height: 42px;
  border: 1px solid rgb(216, 215, 215);
  border-radius: 30px;
  font-size:15px;
  padding-left: 45px;
  margin-left:10px;
}

.search-bar input:hover {
  box-shadow: 1px 1px 5px 1px rgb(185, 185, 185);
}
.search-bar input:focus {
  outline:none;
}

.two-button {

  margin-top:30px;
}

.two-button button {
  padding:8px 10px 8px 10px;
  border: none;
  cursor: pointer;
}
.button1 {
  height: 34px;
}
.button2 {
  margin-left:12px;
}

.two-button :hover {
  border: 1px solid rgb(221, 215, 215);

}


.footer {
  width: 100%;
  position: absolute;  
  bottom: 0;
  left: 0;
  height:100px;
  background-color: rgb(240, 240, 240);
}
.footer-up {
  width:100%;
}
.footer-up p {
  margin-left: 30px;
  color: grey
}



.footer-down {
  display: flex;
  justify-content: space-between;
  color: grey

}

.down-left {
  display: flex;
  padding:5px;
}

.down-left a{
  text-align: center;
  padding-left:30px;
  font-size: 15px;
  text-decoration: none;
  color: grey
}

.down-right {
  display: flex;
  padding:5px;
}

.down-right a{
  padding-right:30px;
  font-size: 15px;
  text-decoration: none;
  color: grey
}
a:hover{
  text-decoration: underline;
}


.icon {
  margin-left:10px;
}
.icon-left {
  position: absolute;
  margin-left:17px;
  margin-top:-34px;

}
.icon-right {
  position: absolute;
  display: flex;
  margin-left:520px;
  margin-top:-30px;
}

.icon-right :nth-child(2){
  margin-left:19px;
}

.down-right p {
  margin-right:30px;
  margin-top: -2px;
  cursor: pointer;
}

.down-right p:hover {
  text-decoration: underline;
}


